#This is a sample file distributed with Galaxy that enables tools
#to use a directory of Picard dict and associated files. You will need
#to create these data files and then create a picard_index.loc file 
#similar to this one (store it in this directory) that points to 
#the directories in which those files are stored. The picard_index.loc 
#file has this format (longer white space is the TAB character):
#
#<unique_build_id>	<dbkey>		<display_name>		<fasta_file_path>
#
#So, for example, if you had hg18 indexed and stored in 
#/depot/data2/galaxy/srma/hg18/,
#then the srma_index.loc entry would look like this:
#
#hg18	hg18	hg18 Pretty		/depot/data2/galaxy/picard/hg18/hg18.fa
#
#and your /depot/data2/galaxy/srma/hg18/ directory
#would contain the following three files:
#hg18.fa
#hg18.dict
#hg18.fa.fai
#
#The dictionary file for each reference (ex. hg18.dict) must be 
#created via Picard (http://picard.sourceforge.net). Note that
#the dict file does not have the .fa extension although the
#path list in the loc file does include it.
#

btaurus	btaurus	btaurus	/pasteur/services/banques/prod/index/gatk/Btaurus/2.4-9/btaurus.fa
calbicans5314	calbicans5314	calbicans5314	/pasteur/services/banques/prod/index/gatk/Calbicans5314/2.4-9/calbicans5314.fa
calbicansWO1	calbicansWO1	calbicansWO1	/pasteur/services/banques/prod/index/gatk/CalbicansWO1/2.4-9/calbicansWO1.fa
cfamiliaris	cfamiliaris	cfamiliaris	/pasteur/services/banques/prod/index/gatk/Cfamiliaris/2.4-9/cfamiliaris.fa
chiroptera	chiroptera	chiroptera	/pasteur/services/banques/prod/index/gatk/Chiroptera/2.4-9/chiroptera.fa
csabaeus	csabaeus	csabaeus	/pasteur/services/banques/prod/index/gatk/Csabaeus/2.4-9/csabaeus.fa
dmelanogaster	dmelanogaster	dmelanogaster	/pasteur/services/banques/prod/index/gatk/Dmelanogaster/2.4-9/dmelanogaster.fa
ecaballus	ecaballus	ecaballus	/pasteur/services/banques/prod/index/gatk/Ecaballus/2.4-9/ecaballus.fa
fcatus	fcatus	fcatus	/pasteur/services/banques/prod/index/gatk/Fcatus/2.4-9/fcatus.fa
hg19	hg19	hg19	/pasteur/services/banques/prod/index/gatk/Hg19/2.4-9/hg19.fa
mlucifugus	mlucifugus	mlucifugus	/pasteur/services/banques/prod/index/gatk/Mlucifugus/2.4-9/mlucifugus.fa
mm9	mm9	mm9	/pasteur/services/banques/prod/index/gatk/Mm9/2.4-9/mm9.fa
mm10	mm10	mm10	/pasteur/services/banques/prod/index/gatk/Mm10/2.4-9/mm10.fa
pfalciparum	pfalciparum	pfalciparum	/pasteur/services/banques/prod/index/gatk/Pfalciparum/2.4-9/pfalciparum.fa
pvampyrus	pvampyrus	pvampyrus	/pasteur/services/banques/prod/index/gatk/Pvampyrus/2.4-9/pvampyrus.fa
pvivax	pvivax	pvivax	/pasteur/services/banques/prod/index/gatk/Pvivax/2.4-9/pvivax.fa
spombe	spombe	spombe	/pasteur/services/banques/prod/index/gatk/Spombe/2.4-9/spombe.fa
sscrofa	sscrofa	sscrofa	/pasteur/services/banques/prod/index/gatk/Sscrofa/2.4-9/sscrofa.fa
scerevisiae	scerevisiae	scerevisiae	/pasteur/services/banques/prod/index/gatk/Scerevisiae/2.4-9/scerevisiae.fa
