<modules>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_base_recalibrator/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_depth_of_coverage/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_indel_realigner/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_print_reads/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_realigner_target_creator/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_unified_genotyper/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_annotator/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_apply_recalibration/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_combine/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_eval/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_filtration/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_recalibrator/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_variant_select/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_validate_variants/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_haplotype_caller/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
    <tool id="galaxy.web.pasteur.fr/toolshed-pasteur/repos/fmareuil/gatk2/gatk2_reduce_reads/2.4-9" version="2.4-9" module="GenomeAnalysisTK/2.4-9"/>
</modules>
